doctype html
html 
    head 
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", href="img/favicon.png", type="image/png")
        title Natours 
    body 
        h1 The Natours Homepage
        p Basic template paragraph 